extends layout

block content
 link(rel='stylesheet', href='/css/jsplumb.css' )
 link(rel='stylesheet', href='/css/flowchart.css' )

 div.wrapper1
   div(class="my-chart", id="flowchart")
     div(class="window", id="opened")
       div.ep
       strong Start
     div(class="window", id="flowchartWindow2")
       div.ep
       strong One 
    
 script(src='/js/jquery-1.9.1.min.js')
 script(src='/jquery-ui/js/jquery-ui-1.10.4.custom.min.js')
 script(src='/js/bootstrap.min.js')
 script(src='/js/jquery.jsPlumb-1.6.1-min.js')
 
 script(src='/js/flowchart.js')
