extends layout

block content

 div(class="col-sm-6 col-sm-offset-3")
   h1
     span( class="fa fa-sign-in")
     Signup

   h1!=message

   form(action="/login" method="post")
     div( class="form-group")
       label Email
       input( type="text" class="form-control" name="username")
     div( class="form-group")
       label Password
       input( type="password" class="form-control" name="password")
     button( type="submit" class="btn btn-warning btn-lg") Login
 